.footer-container {
  background-color: #242424;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addr-container {
  display: flex;
  font-family: D-DIN-Regular;
  text-align: center;
  font-size: 18px;
  color: white;
  padding-bottom: 4vh;
}
.links-container a {
  padding: 10px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  font: 12px 24px Arial, Verdana, sans-serif;
}

.links-container:hover a {
  color: #eadfdf;
}
